body{
    margin: 0px;
}

#menu{
    background: #1b2621;
    text-align: center;
    grid-area: menu;
}

#inputValueX, #inputValueY{
    width: 40px;
}

input{
    margin: 5px;
    height:40px;
    
    font-size: 25px;
}


#submitButton{
    height: 32px;
    font-size: 20px
}

#theGrid button{
    border: 5px solid blue;
    border-radius: 10%;
}

.closedCard{
    background: hsl(84, 59%, 73%);
}

.openCard{
    background: hsl(84, 47%, 56%);
}

.closedCard:hover{
    background: hsl(84, 50%, 70%);
}

#wrapper{
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 0px auto 0px;;
    height: 100%;
    padding: 0px;
    grid-template-areas: 'menu menu menu'
                         '. theGrid results';
}



#theGrid{
    background: lightgreen;
    text-align: center;
    padding: 20px;
    grid-area: theGrid;

    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'button1 button2'
                         'button3 button4';
}

#results{
    grid-area: results;
}

#button1{
    grid-area: button1;
}
#button2{
    grid-area: button2;
}
#button3{
    grid-area: button3;
}
#button4{
    grid-area: button4;
}