body{
    margin: 0px;
}

#theGrid button{
    height: 100px; 
    width: 100px;
    /*margin: 40px;*/
    border: 5px solid blue;
    border-radius: 10%;
    font-size: 40px;
}

.closedCard{
    background: hsl(84, 59%, 73%);
}

.openCard{
    background: hsl(84, 47%, 56%);
}

.closedCard:hover{
    background: hsl(84, 50%, 70%);
}

#wrapper{
    display: grid;
    grid-template-rows: 50px auto auto;
    grid-template-columns: 50px auto 50px;;
    height: 100%;
    padding: 0px;
    grid-template-areas: 'menu menu menu'
                         '. theGrid results';
}

#menu{
    background: #1b2621;
    text-align: center;
    grid-area: menu;
}

#inputValueX, #inputValueY{
    width: 40px;
}

/*
display: block;
max-width: 1320px;
max-height: 825px;
width: 100%;
height: auto;
*/

#theGrid{
    background: lightgreen;
    text-align: center;
    padding: 20px;
    grid-area: theGrid;

    max-width: 1000px;
    max-height: 1000px;
    width: auto;
    height: 100%;
    
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'button1 button2'
                         'button3 button4';
}

#results{
    grid-area: results;
}

#button1{
    grid-area: button1;
}
#button2{
    grid-area: button2;
}
#button3{
    grid-area: button3;
}
#button4{
    grid-area: button4;
}