body{
    margin:0;
}
.hide{
    display:none;
}

.menuItems{
    padding: 0px 20px;
    margin: 6px 3px;
    float: left;
    height: 39px;
    line-height:40px;
    border-radius: 4px;
    background: #344d48;
}
#menuButton{
    color:white;
    margin-left: 7px;
    background-color: #344d48;
    font-size: 20px;
}
#menuButton:hover, #menuOption1:hover, #menuOption2:hover{
    background-color: #415e50 !important;
}
/* #menuOption1{

} */
#menuOption2{
    color:white;
}


.theGrid{
    display: grid;
    grid-gap: 2px;
    grid-template-rows: 50px;
    height:100%;
    background: #1b2621;
    padding: 0px;
}
#menuBar{
    background: #1b2621;
    grid-column: 1 / span 2;
    grid-row: 1;
    /* padding: 10px; */
    text-align: center;
}
#leftHalf{
    background: #f4f7d2;
    /* padding :0%; */
    text-align: center;
}
#rightHalf{
    background: white;
    /* padding: 0%; */
    text-align: center;
}



/* .greenBackground{
    background: green;
} */